.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 150px auto;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px 0;
}

.task_column {
  width: 33.33%;
  margin: 20px;
  padding: 20px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  border-radius: 8px;
}
